<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="javascrept">
<head>
    <meta charset="UTF-8" />
    <title>管理员页面</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/sockjs-client/1.5.0/sockjs.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>alert("欢迎管理员登录！")</script>
    <script>
        const url = "http://localhost:8081/";
        // const url = "http://106.54.174.38:8081/";
        // const url = "http://www.rainruner.com:8081/";
        var stompClient = null;

        function getM() {
            $.ajax({
                url:url+"admin/getOnline",
                type : "get",
                cache:false,
                data:{},
                success:function (date) {
                    document.getElementById("member").innerText = JSON.stringify(date);
                },
            });
        }
        function setM() {
            $.ajax({
                url:url+"admin/setDefault",
                type : "post",
                cache:false,
                data:{"userName":$("#userName").val()},
                success:function (date) {
                    alert(date);
                },
            });
        }
        function connect() {
            // 连接 SockJs 的 endpoint 名称为 "/endpointNasus"
            var socket = new SockJS('/endpointNasus');
            // 使用 STOMP 子协议的 WebSocket 客户端
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                stompClient.subscribe('/nasus/adminControl', function(respnose){
                    //接收管理员通知
                    var notice = JSON.parse(respnose.body);
                    if (notice!==null) {
                        testInner(notice.noticeId,notice.noticeTitle)
                    }
                });
            });
        }

        function sendAdminControl() {
            // 管理员发布公告
            stompClient.send("/admin", {}, JSON.stringify({"noticeTitle":$("#noticeTitle").val(),"noticeContext":$("#noticeContext").val()}));
            alert("发布成功");
        }
        function changeRedis() {
            $.ajax({
                url:url+"admin/changeRedis",
                type : "post",
                cache:false,
                data:{},
                success:function (date) {
                    alert(date);
                },
            });
        }
        function getVipKey() {
            $.ajax({
                url:url+"admin/getVipKey",
                type : "get",
                data:{},
                success:function (date) {
                    document.getElementById("newKey").innerText = date;
                },
            });
        }
    </script>
</head>
<body onload="connect()">
<button id="show" onclick="getM()">显示所有在线成员列表</button>
<p id="member"></p><br/><br/>
请输入取消头像设置的用户名：<label for="userName"></label><input type="text" name="userName" id="userName"/>
<button id="default" onclick="setM()">确定</button><br/><br/>
<button onclick="changeRedis()">开启/关闭存储历史记录</button><br/><br/>
<input type="text" id="noticeTitle" placeholder="公告标题"/>
<input type="text" id="noticeContext" placeholder="公告标题"/>
<button id="reload" onclick="sendAdminControl()">发布公告</button><br/><br/>
<button onclick="getVipKey()">生成会员秘钥</button><a id="newKey" style="color: #0F9E5E"></a><br/>
<button onclick="window.open(url+'admin/getAllKeys');">查看所有生成的秘钥</button>
</body>
</html>